STRIPE_SECRET_KEY=sk_live_examplekey
MONGODB_URI=mongodb+srv://username:example
MONGODB_DB_NAME=caravanas
APP_URL=http://localhost:5173
VITE_API_BASE_URL=http://localhost:4242
ADMIN_PANEL_PASSWORD=cambia-esta-contrasena
PORT=4242